.questionPageMain{
    margin: 4vw 5vw 0vw 5vw;
    width:auto;
    height: auto;
}

.question{
    font-size: calc(1.5em + 1vmin);
    width:95%;

}

.checkAnswers
{
    margin-top:15vh;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh 0vw;
    width: 25vw;
    font-size: calc(0.85em + 1vmin);
    border: none;
    border-radius: 15px; 
    background-color: #f38e00;
    color:black;
    text-align: center;
    z-index: 1;
}
.checkAnswers:hover{
    
    background-color: rgb(10, 88, 134);
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px 2px black;
    cursor: pointer;
    z-index: 1000;

}